nav
  ul
    li
      a(href='/') Home
    |  
    li
      a(href='/books/page/1') Books
    |     
    li
      a(href='/patrons/page/1') Patrons
    |     
    li
      a(href='/loans/page/1') Loans